<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title><%= site.title %> | <%= site.subtitle %></title>

<meta name="description" content="description" />
<meta name="keywords" content="keywords" />

<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />

</head>



<body>

<div id="header">
    <div id="site">
	    <div id="logo">
		    <h1><!-- 主标题 --><a href="/" title="<%= site.title %>" ><%= site.title %></a></h1>
			<h2><!-- 副标题  --><a href="/"><%= site.subtitle %></a></h2>
		</div>		  
    </div>
	<div id="nav">
	  <ul>
	  	<li>1</li>
	  	<li>2</li>
	  	<li>3</li>
	  </ul>
	</div>
    <div id="flash">
        <% if (success) { %>
        <div class="success"><%= success %></div>
        <% } %>
        <% if (error) { %>
        <div class="error"><%= error %> </div>
        <% } %>
    </div>
</div>

<div id="main">
